@import '@/quasar-variables.scss';
@import '@/assets/styles/myvariables.scss';
@import '@/assets/styles/animation.scss';

body {
	font-size: $font-size;
	color: $text-color;
	// background-color: #0000001a;
	background-color: $bgMain;
}

.container {
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: 1200px;
	margin: 0 auto;
	// @media screen and (max-width: 1850px) {
	// 	max-width: 1200px;
	// 	margin: 0 auto;
	// }
	.zag {
		font-size: 1.2rem;
	}
}
.rel {
	position: relative;
}
.q-drawer {
	z-index: 10;
	background: $bgMain;
	.noti {
		background: #f8f8f6;
	}
	.rd {
		padding: 1rem;
		box-shadow: -1px 0 3px rgba(0, 0, 0, 0.3);
		&.speech {
			background: $blue-grey-9;
		}
	}
}
.q-splitter--vertical > .q-splitter__separator {
	width: 2px;
	background: transparent;
}
.spli .q-splitter__separator {
	width: 1px;
	background: #ccc;
}

.q-splitter--vertical > .q-splitter__separator:hover,
.q-splitter--vertical > .q-splitter__separator:active {
	border-left: 2px dotted black;
}
.q-dialog .q-card {
	overflow: visible;
	position: relative;
	.close {
		z-index: 100;
		position: absolute;
		top: -1.2rem;
		right: -1.2rem;
	}
}
